.cv {
    width:100%;
}

.cvItem h2 {
    margin:0;
}
.cvItem h4 {
    margin:0.5rem 0;
}

.mainHead {
    display:block;
    width:100%;
    text-align:left;
    border-bottom:#5c6d70 solid 2px;
}

.linkButton {
    background: var(--accent);
    color: var(--text);
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
}