html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #484a47;
  color:#eaeaea;

  -ms-overflow-style: none;
  scrollbar-width:none;
}

a {
  color: #a37774;
  text-decoration: none;
}

p{
  font-size:1.1rem;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display:none;
}

hr {
  width:95%
}
